* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common css*/

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 18px 18px;
    background-color: #0f1b4c;
    border-radius: 12px;
    min-width: 98px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.center-content {
    display: flex;
    align-items: center;
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

/* detail css */

/* ===header css=== */

.header:fi {
    background-color: #e6f0ff;
    padding-top: 28px;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.navigation {
    padding: 10px 0px;
}

.navigation ul {
    display: flex;
    margin-left: 50px;
}

.navigation ul a {
    padding: 12px 14px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    line-height: 1.5;
    transition: all ease 300ms;
}

.navigation ul a:hover {
    color: #0f1b4c;
}

.nav-btn {
    margin-left: auto;
}

.nav-btn a:last-child {
    padding: 13px 0px;
    border-radius: 8px;
}

.nav-btn a:first-child {
    margin-right: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #0f1b4c;
}

/* ====hero==== */

.hero-wrapper {
    padding-top: 36px;
    background-color: #e6f0ff;
    height: calc(100vh - 90px);
}

.hero-info {
    display: flex;
    align-items: center;
    background-color: #e6f0ff;
}

.header-content p {
    font-size: 1.8rem;
}

.header-content p:first-of-type {
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #687691;
    margin-bottom: 8px;
}

.header-content p:last-of-type {
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: capitalize;
    color: #5a6473;
    margin-bottom: 40px;
}

.header-content h1 {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
    margin-bottom: 30px;
}

.header-img {
    margin-right: -100px;
    margin-left: 67px;
}

.header-content button {
    padding: 0;
}

.header-content a {
    display: inline-block;
    padding: 13px 38px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.54;
    text-align: center;
    color: #ffffff;
}

/* main-content css */

/* ======client logo====== */
.clients-logo {
    margin-top: 79px;
    margin-bottom: 40px;
    padding-top: 43px;
}

.client-logo-header .review {
    margin-left: auto;
}

.client-logo-header .content p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.client-logo-header .content .logo {
    margin-bottom: 23px;
}

.clients-logo .logos {
    justify-content: space-between;
    /* padding: 0px 10px; */
    margin-top: 70px;
}

.clients-logo .logos a {
    display: inline-block;
    width: 204px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 400ms;
}

.clients-logo .logos a:hover {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    cursor: pointer;
}

.review {
    display: flex;
    flex-direction: column;
}

.review img {
    margin-bottom: 18.15px;
    width: 116px;
    height: 18.85px;
    margin-left: auto;
}

.review p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    text-align: right;
    color: #7d8589;
}

/* .logos .special-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 91px;
    
} */

/* ======seller type====== */

.how-its-works--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 585px;
    margin-bottom: 41px;
    padding-bottom: 79px;
}

.how-its-works__content {
    margin-top: 40px;
    width: 685px;
}

.how-its-works__heading {
    text-align: center;
}

.how-its-works__heading hr {
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.how-its-works__heading h3 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
    margin-bottom: 20px;
}

.how-its-works__heading p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #5a6473;
    width: 459px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
    text-align: center;
}

.seller-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    text-align: center;
}

.seller-type--item > img {
    margin-bottom: 26px;
}

.seller-type p {
    margin-bottom: 10px;
}

.seller-type--item p {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    color: #3b3c45;
}

.seller-type--item a {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    color: #0689ff;
}

.seller-type--item .arrow {
    margin-left: 6px;
}

.how-its-works__btn {
    display: flex;
    justify-content: center;
}

.how-its-works__btn a {
    padding-right: 24px;
    padding-left: 25px;
}

/* ======feature one====== */

.feature-one-wrapper {
    background: #f5fafe;
}

.feature-one {
    display: block;
    padding-top: 110px;
    padding-bottom: 110px;
}

.feature-one-heading {
    position: relative;
    margin-bottom: 68px;
}

.feature-one-heading h3 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
    margin-bottom: 15px;
}

.feature-one-heading p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #5a6473;
}

.feature-one-heading__link {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature-one-heading__link a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: right;
    color: #0689ff;
}

.feature-one-heading__link .arrow {
    margin-left: 8px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #ffffff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    border-radius: 12px;
}

.card-infor {
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-infor h4 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
    margin-bottom: 11px;
}

.card-infor > p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    margin-bottom: 22px;
}

.card-infor--bottom {
    display: flex;
    gap: 22px;
}

.card-infor--bottom p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

.card-infor img {
    margin-right: 8px;
}

.card-infor--bottom div {
    display: flex;
    align-items: center;
}

/* feature two */
.feature-two-wrapper {
    margin-top: 75px;
    padding: 50px 0;
}

.feature-two {
    width: 1017px;
    position: relative;
}

.feature-two-content {
    width: 100%;
}

.feature-two-content .row {
    display: flex;
}

.feature-two-content .img-block,
.feature-two-content .info {
    width: 50%;
}

.feature-two-content .img-block img {
    display: block;
    margin-left: auto;
    border-radius: 12px;
    width: 400px;
    height: 460px;
    object-fit: cover;
}

.feature-two-content .info {
    padding: 65px 0 0 165px;
}

.info .sub-title {
    position: relative;
    margin-bottom: 20px;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.info .sub-title::before {
    position: absolute;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.info .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
    width: 309px;
}

.feature-two-content .overflow {
    position: absolute;
    top: 0;
    left: -10px;
    padding: 45px 22.89px 40.49px 21.2px;
    width: 239px;
    height: 252px;
    background: #ffffff;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}

.overflow .row {
    margin-bottom: 8px;
}

.overflow .subtitle {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.overflow .stock-icon {
    margin-left: auto;
}

.overflow .desc {
    margin-bottom: 25.8px;
    padding-bottom: 20.5px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
    border-bottom: 1.2px solid #e9e9e9;
}

.overflow li {
    display: inline-block;
}

.overflow .user-ava li img {
    width: 16.34px;
    height: 16.34px;
    object-fit: cover;
    border-radius: 50%;
}

.overflow .user-ava li img:not(:first-child) {
    margin-left: -7px;
}

.user-ava .row ul {
    display: flex;
    gap: 13px;
}

.stats {
    margin-top: 110px;
    /* width: 985px; */
    padding-left: 22px;
}

.stats .row {
    justify-content: space-between;
}

.stats h2 {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
    color: #000000;
    margin-bottom: 24px;
}

.stats p {
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}

/* newsletter */
.newsletter-wrapper {
    margin-top: 90px;
    margin-bottom: 55px;
}

.newsletter {
    position: relative;
}

.newsletter-content {
    padding: 110px 529px 110px 80px;
    background: #063183;
    border-radius: 20px;
}

.newsletter-content .sub-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #ffffff;
}

.newsletter-content .desc {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.newsletter-content .btn {
    background-color: #ffffff;
    padding: 0px;
}

.newsletter-content a {
    padding: 18px 43px;
    display: inline-block;
    color: #002366;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
}

.newsletter .img-block {
    position: absolute;
    top: -39px;
    right: 221px;
}

/* footer css */
.footer-wrapper {
    padding-top: 50px;
}

.footer {
    margin-bottom: 58px;
}

.footer .row {
    display: flex;
    gap: 185px;
}

.footer .first-row {
    align-items: baseline;
}

.footer .first-row .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .column .footer-list,
.footer .column .desc {
    margin-top: 40px;
}

.footer-list li {
    margin-top: 32px;
}

.footer-list a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap;
}

.column .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
}

.column .social {
    margin-top: 40px;
}

.column .social a {
    display: inline-block;
}

.column .social img {
    margin-right: 16px;
}

.footer .second-row {
    margin-top: 74px;
}

.footer .second-row p {
    margin-left: auto;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #c2c2c2;
}
